
@{
    ViewBag.Title = "Começar Currículo";
    var habilidades = (List<backend.Models.Habilidade>)ViewData["Habilidades"];
    var usuario = (backend.Models.Usuario)Session["usuario"];
}

<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Content/Css/checkbox.css" rel="stylesheet" />
<script src="https://kit.fontawesome.com/3b2e9ead24.js" crossorigin="anonymous"></script>
<div id="users-container" class="dashboard-container">
    <h1 class="page-title"><a href="/Curriculo/MeuCurriculo"><</a> Cadastrar currículo</h1>
    <div class="job-form">
        <form action="/Curriculo/CadastrarAction" method="post" class="jValidator">
            <div class="double-input-container">
                <div class="input-container">
                    <label for="linkedin">Linkedin</label>
                    <input name="linkedin" type="text" id="linkedin" data-rules="required|min:5|max:50" />
                </div>
                <div class="input-container">
                    <label for="github">Github</label>
                    <input name="github" type="text" id="github" data-rules="required|min:5|max:50" />
                </div>
            </div>
            <div class="double-input-container">
                <div class="input-container">
                    <label for="telefone">Telefone</label>
                    <input name="telefone" type="text" id="telefone" data-rules="required|max:50" />
                </div>
                <div class="input-container">
                    <label for="endereco">Endereço</label>
                    <input name="endereco" type="text" id="endereco" data-rules="required|min:3|max:50" />
                </div>
            </div>
            <div class="double-input-container">
                <div class="input-container">
                    <label for="cidade">Cidade</label>
                    <input name="cidade" type="text" id="cidade" data-rules="required|max:50" />
                </div>
                <div class="input-container">
                    <label for="estado">Estado</label>
                    <select name="estado" id="estado" data-rules="pick">
                        <option value="" selected></option>
                        <option value="SP"> São Paulo</option>
                    </select>
                </div>
            </div>

            <div class="input-container">
                <label for="resumo">Resumo profissional</label>
                <textarea name="resumo" id="resumo" data-rules="required|max:1000"></textarea>
            </div>
            
            <div class="input-container">
                <ul class="ks-cboxtags">
                    <li>
                        @foreach (var habilidade in habilidades) {
                            <input name="checks" type="checkbox" id="@Html.DisplayFor(id => habilidade.Id)" value="@Html.DisplayFor(id => habilidade.Id)">
                            <label for="@Html.DisplayFor(id => habilidade.Id)">@Html.DisplayFor(id => habilidade.Nome)</label>
                        }
                    </li>
                </ul>
            </div>
            <input type="hidden" name="usuarioId" value="@usuario.Id" />
            <button type="submit" class="btn-form">Cadastrar</button>
        </form>
    </div>
</div>
<script src="~/Content/Js/Helpers/input-helper.js"></script>
<script src="~/Content/Js/validator.js"></script>