@using PagedList.Mvc;
@model PagedList.PagedList<backend.Models.Dtos.ListarCurriculoResponse>
@{
    ViewBag.Title = "Listar Curriculos";
    var curriculos = Model;
    var itensPorPagina = backend.Models.Util.ITENS_POR_PAGINA;
}
<link href="~/Content/Css/form.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/Css/sweetalert2.min.css" />
<script src="~/Content/Js/sweetalert2.min.js"></script>
<script src="~/Content/Js/Helpers/alert-helper.js"></script>
<div id="users-container" class="dashboard-container">
    <h1 class="page-title">Currículos</h1>
    <div class="search">
        <form action="/Curriculo/Buscar" method="get">
            <div class="input-container">
                <label for="buscar">Pesquisar</label>
                <input name="habilidades" type="text" id="buscar" />
            </div>
        </form>
    </div>
    <table id="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th width="250">Cidade</th>
                <th width="120">Telefone</th>
                <th>Habilidades</th>
                <th width="30">Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (curriculos != null) {
                foreach (var curriculo in curriculos) {
                    <tr>
                        <td>@curriculo.Nome</td>
                        <td>@curriculo.Cidade</td>
                        <td>@curriculo.Telefone</td>
                        <td>@curriculo.Habilidades</td>
                        <td>
                            <div class="controlls">
                                <a href="/Curriculo/Detalhar/@curriculo.Id">
                                    <svg width="18" height="18" viewBox="0 0 96 96" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="M48 20c21.15 0 34.502 19.998 38.998 28C82.494 56.016 69.145 76 48 76 26.853 76 13.503 56.118 9.003 48.149 13.5 40.101 26.853 20 48 20m0-8C16 12 0 48.166 0 48.166S16 84 48 84s48-36 48-36-16-36-48-36z" fill="#474747" class="fill-000000"></path><path d="M48 40c4.411 0 8 3.589 8 8s-3.589 8-8 8-8-3.589-8-8 3.589-8 8-8m0-8c-8.836 0-16 7.164-16 16 0 8.837 7.164 16 16 16 8.837 0 16-7.163 16-16 0-8.836-7.163-16-16-16z" fill="#474747" class="fill-000000"></path></svg>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @if (curriculos != null) {
        if (curriculos.TotalItemCount > itensPorPagina) {
            <div>
                @Html.PagedListPager(Model,
                pagina => Url.Action("Index", new { pagina }),
                new PagedListRenderOptions {
                LiElementClasses = new string[] { "page-item" }
                })
            </div>
        }
    }
</div>

<script src="~/Content/Js/Helpers/input-helper.js"></script>
@if (@TempData["alertSucesso"] != null) {
    <script>
            successAlert('@Html.Raw(TempData["alertSucesso"])', '@Html.Raw(TempData["alertMensagem"])');
    </script>
}
@if (@TempData["alertErro"] != null) {
    <script>
            errorAlertWithButton('@Html.Raw(TempData["alertErro"])', '@Html.Raw(TempData["alertMensagem"])');
    </script>
}