@model IEnumerable<backend.Models.Curriculo>
@{
    ViewBag.Title = "Listar Curriculos";
}
<div class="row my-3">
    <div class="col-md">
        <h1>Listando todos os currículos</h1>
        <h4>Você pode utilizar a busca para filtrar por habilidades</h4>
        @if (@TempData["alertInfo"] != null)
        {
            <div class="alert alert-info" role="alert">
                @TempData["alertInfo"]
            </div>
        }
        @if (@TempData["alertSucesso"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["alertSucesso"]
            </div>
        }
        @if (@TempData["alertErro"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["alertErro"]
            </div>
        }
    </div>
</div>
<div class="row mb-4">
    <div class="col-md">
        @Html.ActionLink("Cadastrar Novo Curriculo", "Cadastrar", "Curso", new { area = "" }, new { @class = "btn btn-success" })
    </div>
</div>
<div class="row">
    <div class="col-md">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Ex: Java, Python, Abacate" aria-label="Ex: Java, Python, Abacate" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.Id)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Aluno)</th>
                    <th scope="col" width="200">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var curriculo in Model)
                {
                    <tr>
                        <th scope="row">@Html.DisplayFor(id => curriculo.Id)</th>
                        <td>@Html.DisplayFor(nome => curriculo.Aluno)</td>
                        <td>
                            @Html.ActionLink(" ", "Apagar", "Curriculo", new { id = curriculo.Id }, new { @class = "btn btn-danger far fa-trash-alt" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <nav aria-label="..." class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <span class="page-link">2</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

