@using PagedList.Mvc;
@model PagedList.PagedList<backend.Models.Dtos.ListarCurriculoResponse>
@{
    ViewBag.Title = "Listar Curriculos";
    var curriculos = Model;
}

@if (@TempData["alertInfo"] != null) {
    <div class="alert alert-info" role="alert">
        @TempData["alertInfo"]
    </div>
}
@if (@TempData["alertSucesso"] != null) {
    <div class="alert alert-success" role="alert">
        @TempData["alertSucesso"]
    </div>
}
@if (@TempData["alertErro"] != null) {
    <div class="alert alert-danger" role="alert">
        @TempData["alertErro"]
    </div>
}
<link href="~/Content/Css/form.css" rel="stylesheet" />
<div id="users-container" class="dashboard-container">
    <h1 class="page-title">Currículos</h1>
    <div class="search">
        <form action="">
            <div class="input-container">
                <label for="buscar">Pesquisar</label>
                <input type="text" id="buscar" />
            </div>
        </form>
    </div>
    <div id="table">
        <div class="table-header">
            <div class="table-column">
                <h3>Nome</h3>
            </div>
            <div class="table-column">
                <h3>Cidade</h3>
            </div>
            <div class="table-column">
                <h3>Telefone</h3>
            </div>
            <div class="table-column">
                <h3>Habilidades</h3>
            </div>
        </div>
        <div class="table-body">
            @foreach (var curriculo in curriculos) {
                <a class="table-row" href="#">
                    <div class="info-colum">
                        <span>@curriculo.Nome</span>
                    </div>
                    <div class="info-colum">
                        <span>@curriculo.Cidade</span>
                    </div>
                    <div class="info-colum">
                        <span>@curriculo.Telefone</span>
                    </div>
                    <div class="info-colum">
                        <span>@curriculo.Habilidades</span>
                    </div>
                </a>
            }
        </div>
    </div>
</div>

<script src="~/Content/Js/Helpers/input-helper.js"></script>