@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/Css/login-and-signup.css" />
    <link rel="stylesheet" href="~/Content/Css/sweetalert2.min.css" />
    <title>Entrar - Portal de Empregabilidade Senai</title>
</head>
<body>
    <main id="container-signin-and-signout">
        <section class="intro-bg">
            <div class="background"></div>
            <div class="content">
                <div class="logo">
                    <img src="~/Content/Images/logo.png" alt="logo negativada senai" />
                </div>
                <div class="intro-title">
                    <h1>Portal de Empregabilidade Senai</h1>
                    <h2>
                        Feito de alunos para alunos e professores com o objetivo de conectar empresas e candidatos à vagas.
                    </h2>
                </div>
                <p class="copyright">
                    SENAI - Serviço Nacional de Aprendizagem Industrial © Todos os
                    direitos reservados.
                </p>
            </div>
        </section>
        <section class="form-container">
            <form action="/Home/EntrarAction" method="post" class="jValidator">
                <div class="form-title">
                    <h1>Entrar</h1>
                    <h2>Preencha os campos abaixo para efetuar login</h2>
                </div>

                <div class="input-container">
                    <label for="email">Email</label>
                    <input name="email" type="text" id="email" data-rules="required|email|max:50" />
                </div>

                <div class="input-container">
                    <label for="password">Senha</label>
                    <input name="senha" type="password" id="password" data-rules="required|min:8|max:20" />
                </div>

                <button type="submit">Entrar</button>
                <h3 class="create-account">
                    Não está registrado ainda ?
                    @Html.ActionLink("Crie uma conta", "Cadastrar", "Home", new { area = "" }, new { @class = "" })
                </h3>
            </form>
        </section>
    </main>
    <script src="~/Content/Js/validator.js"></script>
    <script src="~/Content/Js/Helpers/input-helper.js"></script>
    <script src="~/Content/Js/sweetalert2.min.js"></script>
    <script src="~/Content/Js/Helpers/alert-helper.js"></script>
    @if (@TempData["alertSucesso"] != null) {
        <script>
            successAlertWithButton('@Html.Raw(TempData["alertSucesso"])', '@Html.Raw(TempData["alertMensagem"])');
        </script>
    }
    @if (@TempData["alertErro"] != null) {
        <script>
            errorAlertWithButton('@Html.Raw(TempData["alertErro"])', '@Html.Raw(TempData["alertMensagem"])');
        </script>
    }
</body>
</html>
