@model backend.Models.Usuario
@{
    Layout = null;
}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <style>
        body {
            background: #007bff;
            background: linear-gradient(to right, #0062E6, #33AEFF);
        }

        .card-img-left {
            width: 45%;
            /* Link to your background image using in the property below! */
            background: scroll center url('https://source.unsplash.com/WEQbe2jBg40/414x512');
            background-size: cover;
        }

        .btn-login {
            font-size: 0.9rem;
            letter-spacing: 0.05rem;
            padding: 0.75rem 1rem;
        }
    </style>
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Entrar</h5>
                        @if (@TempData["alertInfo"] != null)
                        {
                            <div class="alert alert-info" role="alert">
                                @TempData["alertInfo"]
                            </div>
                        }
                        @if (@TempData["alertSucesso"] != null)
                        {
                            <div class="alert alert-success" role="alert">
                                @TempData["alertSucesso"]
                            </div>
                        }
                        @if (@TempData["alertErro"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @TempData["alertErro"]
                            </div>
                        }
                        <form action="/Home/EntrarAction" method="post" class="login-form">
                            <div class="mb-3">
                                <label for="email" class="form-label">E-mail</label>
                                <input name="email" type="email" class="form-control" id="email" data-rules="required|email">
                            </div>
                            <div class="mb-3">
                                <label for="senha" class="form-label">Senha</label>
                                <input name="senha" type="password" class="form-control" id="senha">
                            </div>
                            <button type="submit" class="btn btn-lg btn-primary btn-login fw-bold text-uppercase">Entrar</button>
                        </form>
                        @Html.ActionLink("Não tem cadastro? Cadastre-se", "Cadastrar", "Home", new { area = "" }, new { @class = "d-block text-center mt-2 small" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="~/Scripts/validator.js"></script>
</body>
</html>