@model backend.Models.Usuario
@{
    ViewBag.Title = "Editar Usuario";
    var cursos = (List<backend.Models.Curso>)ViewData["cursos"];
}

<div class="row">
    <div class="col-md-6">
        <h1>Editar Usuario</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        @*@using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="mb-3">
                @Html.LabelFor(model => model.Nome, new { htmlAttributes = new { @class = "form-label" } })
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.Email, new { htmlAttributes = new { @class = "form-label" } })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.Senha, new { htmlAttributes = new { @class = "form-label" } })
                @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-label" } })
                @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control" } })
                <span>0 para usuário normal - 1 para usuário administrador</span>
            </div>
            @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @style = "display: none;" } })
            <button type="submit" class="btn btn-success">Editar</button>
        }*@
        <form action="/Usuario/Editar/22" method="post">
            @if (@TempData["alertInfo"] != null)
            {
                <div class="alert alert-info" role="alert">
                    @TempData["alertInfo"]
                </div>
            }
            @if (@TempData["alertSucesso"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["alertSucesso"]
                </div>
            }
            @if (@TempData["alertErro"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["alertErro"]
                </div>
            }
            <div class="form-floating mb-3">
                <input type="text" name="nome" class="form-control" id="floatingInput" placeholder="Fernando Ponte Preta" value="@Model.Nome">
                <label for="floatingInput">Nome</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" name="email" class="form-control" id="floatingInput" placeholder="fernando@pontepreta.com.br" value="@Model.Email">
                <label for="floatingInput">E-mail</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="senha" class="form-control" id="floatingInput" placeholder="********" value="@Model.Senha">
                <label for="floatingInput">Senha</label>
            </div>
            <div class="form-floating mb-3">
                <select name="curso" class="form-select" id="floatingSelectGrid" aria-label="Curso">
                    <option value="0">Selecione um curso</option>
                    @foreach (var curso in cursos)
                    {
                        <option value="@Html.DisplayFor(id => curso.Id)" @(Model.CursoId.Equals(curso.Id) ? "selected" : "")>@Html.DisplayFor(nome => curso.Nome)</option>
                    }
                </select>
                <label for="floatingSelectGrid">Curso</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" name="turma" class="form-control" id="floatingInput" placeholder="1DSN" value="@Model.Turma">
                <label for="floatingInput">Turma</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" name="ano" class="form-control" id="floatingInput" placeholder="2021" value="@Model.Ano">
                <label for="floatingInput">Ano</label>
            </div>
            <div class="form-floating mb-3">
                <select name="tipo" class="form-select" id="floatingSelectGrid" aria-label="Tipo de Usuário">
                    <option value="0">Aluno</option>
                    <option value="1">Administrador</option>
                </select>
                <label for="floatingSelectGrid">Tipo de Usuário</label>
            </div>
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit" class="btn btn-success">Editar</button>
        </form>
    </div>
</div>