@model backend.Models.Experiencia
@{
    ViewBag.Title = "Editar Experiencia";
    var experiencia = Model;
}
<link href="~/Content/Css/form.css" rel="stylesheet" />
<div id="users-container" class="dashboard-container">
    <h1 class="page-title"><a href="/Curriculo/MeuCurriculo"><</a> Editar experiência</h1>
    <div class="form-experiencia-formacao">
        <form action="/Experiencia/EditarAction" method="post" class="jValidator">
            <div class="input-container">
                <label for="cargo">Cargo</label>
                <input name="cargo" type="text" id="cargo" data-rules="required|max:50" value="@experiencia.Cargo" />
            </div>
            <div class="input-container">
                <label for="empregador">Empregador</label>
                <input name="empregador" type="text" id="empregador" data-rules="required|max:50" value="@experiencia.Empregador" />
            </div>
            <div class="input-container">
                <label for="admissao">Admissão</label>
                <input name="admissao" type="text" id="admissao" data-rules="required" value="@experiencia.Admissao" />
            </div>
            <div class="input-container">
                <label for="demissao">Demissão</label>
                <input name="demissao" type="text" id="demissao" value="@experiencia.Demissao" />
                <div class="checkbox-container">
                    <input name="empregoAtual" type="checkbox" id="empregoAtual" onchange="checkToggle()" />
                    <label for="empregoAtual">Emprego atual</label>
                </div>
            </div>
            <div class="input-container">
                <label for="resumo">Resumo das atividades</label>
                <textarea name="resumo" id="resumo" data-rules="required|max:500">@experiencia.Resumo</textarea>
            </div>
            <input type="hidden" name="id" value="@experiencia.Id" />
            <button type="submit" class="btn-form">Cadastrar</button>
        </form>
    </div>
</div>
<script src="~/Content/Js/validator.js"></script>
<script src="~/Content/Js/Helpers/input-helper.js"></script>